/* HOME.css */
.div-home {
    border: solid 1px;
    margin: 25px; 
    width: 90%;
    background: radial-gradient(blue, white, black);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    }
    
.h1-home {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
.p-home {
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
.div-img-home {
    /* border: solid 1px; */
    padding-bottom: 10px;
    }

.img-home {
    /* width: 100%;  */
    height:600px;
    border: solid 5px black;
    border-radius: 50px;
    }
    
    
    
    