/* MENU.CSS */

/* MENÚ */
.div-menu {
    border: solid 1px;
    justify-items: center;
    /* margin-left: 20%;
    margin-right: 20%; */
    margin: 20px;
    width: 70%;
    background: radial-gradient(blue, white, black);
    border-radius: 50px;
    text-align: center;
}

.h1-menu {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-menu {
font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: xx-large;
}

/* PLATOS */
.div-menu-platos {
border: solid 1px;
width: 60%;
justify-items: center;
padding: 20px;
margin-bottom: 20px;
background: radial-gradient(grey, white, black);
border-radius: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h2-plato {
color: rgb(3, 18, 57);
}
.p-plato {
    color: rgb(3, 18, 57);
    font-size: x-large;
}
.img-plato {
    width: 250px; height: 250px;
border: solid 2px black;
border-radius: 50px;
    }

